@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.btn {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all .1s ease-in-out;
  box-sizing: border-box;
}

.btn:hover {
  transition: all .1s ease-in-out;
  opacity: 0.8;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.btn-flat {
  background: #019DFF;
}

.btn-icon-right {
  flex-direction: row-reverse;
}

.btn-flat:active > div,
.btn-flat:active > svg {
  opacity: 0.65;
}

.btn-flat:focus,
.btn-flat:active {
  outline: 0;
  box-shadow: 0 0 0 2px #DCF1FF !important;
}

.btn-gradient {
  background: linear-gradient(140.91deg, #019DFF 15.26%, #21CEE5 88.53%);
}

.btn-transparent {
  background: transparent;
}

.btn:disabled {
  background: #E6E6E6 !important;
}

.btn-small {
  padding: 4px 16px;
  font-size: 12px;
}

.btn-medium {
  padding: 8px 16px;
  font-size: 14px;
}

.btn-large {
  padding: 16px 36px;
  font-size: 16px;
}

.btn-circle {
  border-radius: 50%;
}

.btn-icon-only {
  padding: 0;
  justify-content: center;
}

.btn-icon-only-small {
  width: 20px;
  height: 20px;
}

.btn-icon-only-medium {
  width: 36px;
  height: 36px;
}

.btn-icon-only-large {
  width: 52px;
  height: 52px;
}