@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.btn {
  font-family: 'Montserrat', sans-serif;
  width: 147px;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn-flat {
  background-color: #019DFF;
}

.btn-gradient {
  background-image: linear-gradient(140.91deg, #019DFF 15.26%, #21CEE5 88.53%);
}

.btn-transparent {
  background: transparent;
}

.btn:disabled {
  background-color: #BDBDBD !important;
}